/.vs/ExchangeBook_WebService/v15/.suo
/.vs/ExchangeBook_WebService/v15/Server/sqlite3/db.lock
/.vs/ExchangeBook_WebService/v15/Server/sqlite3/storage.ide
/.vs/ExchangeBook_WebService/v15/Server/sqlite3/storage.ide-shm
/.vs/ExchangeBook_WebService/v15/Server/sqlite3/storage.ide-wal
/.vs/config/applicationhost.config
/DTO/obj/Debug/DTO.csproj.CoreCompileInputs.cache
/DTO/obj/Debug/DTO.csprojAssemblyReference.cache
/DTO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DTO/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DTO/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DTO/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DataBaseAccesser/obj/Debug/DataBaseAccesser.csproj.CoreCompileInputs.cache
/DataBaseAccesser/obj/Debug/DataBaseAccesser.csprojAssemblyReference.cache
/DataBaseAccesser/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DataBaseAccesser/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DataBaseAccesser/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DataBaseAccesser/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ExchangeBook/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExchangeBook/obj/Debug/ExchangeBook.csproj.CoreCompileInputs.cache
/ExchangeBook/obj/Debug/ExchangeBook.csprojAssemblyReference.cache
/ExchangeBook/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ExchangeBook/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ExchangeBook/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ExchangeBook_WebService/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/ExchangeBook_WebService/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/ExchangeBook_WebService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExchangeBook_WebService/obj/Debug/ExchangeBook_WebService.csproj.CoreCompileInputs.cache
/ExchangeBook_WebService/obj/Debug/ExchangeBook_WebService.csprojAssemblyReference.cache
/ExchangeBook_WebService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ExchangeBook_WebService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ExchangeBook_WebService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/LogService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LogService/obj/Debug/LogService.csproj.CoreCompileInputs.cache
/LogService/obj/Debug/LogService.csprojAssemblyReference.cache
/LogService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/LogService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/LogService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Utility/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Utility/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Utility/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Utility/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Utility/obj/Debug/Utility.csproj.CoreCompileInputs.cache
